.header-container
    .main-heading-container
        .main-heading Nav Bar
    a.nav-button(href="#", type="button") First
    a.nav-button(href="#", type="button") Second
    a.nav-button(href="#", type="button") Third
