- require("bootstrap/less/bootstrap.less");
- require("bootstrap/js/dropdown.js");
- require("bootstrap/js/button.js");
- require("bootstrap/js/collapse.js");
- require("bootstrap/js/tab.js");
- require("../../index.css");

.header
.content