.main-heading {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 3em;
}

.main-heading-container {
    display: inline-block;
}

.nav-button-group {
    display: inline-block;
    margin-left: 30px;
    margin-top: -25px;
}

.header-container {
    background-color: #eeeeee;
    padding-bottom: 15px;
}